{
    "presets": [
        ["@babel/preset-env",
        {
            "debug": true,
            "useBuiltIns": "usage"
        }]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ],
    "compact": false //500k 限制
}